{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block content %}

{#    <div class="container">#}
{#         <a href="?category={{ "Education" }}&page={{ 1 }}" class="page-link">#}
{#            Test Param#}
{#        </a>#}
{#    </div>#}

{#    ++++++++++++++++++++++++++++#}


{#    <div class="container">#}
{#    #}
{#    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">#}
{#            <div class="carousel-inner">#}
{#                {% for loop_cycle in self.scholarship_listing_page_sliders.all %}#}
{#                    {% image loop_cycle.image fill-900x400 as img %}#}
{#                    <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">#}
{#                        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">#}
{#                         <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; height: 500px ; background-position: center center ; color: #fff !important">#}
{#                            <h1 class="display-4">{{ loop_cycle.title }}</h1>#}
{#                            <p class="lead">{{ loop_cycle.short_description }}</p>#}
{##}
{#                                {% if loop_cycle.slider_cta %}#}
{#                                    <a class="btn btn-primary btn-lg" href="{{ loop_cycle.slider_cta.url }}" role="button">See more</a>#}
{#                                {% endif %}#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">#}
{#                <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#            </a>#}
{#            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">#}
{#                <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Next</span>#}
{#            </a>#}
{#    #}
{#    </div>#}





{#    +++++++++++++++++++++++++++++++ #}

    <div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Scholarships</div>
                </div>

                {% for post in posts %}
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                {% image post.banner_image fill-250x250 as blog_img %}
                                <div class="fh5co_news_img"><img src="{{ blog_img.url }}" alt=""/></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="{{ post.url }}" class="fh5co_magna py-2">{{ post.title }}</a> <br>
                            <a href="#" class="fh5co_mini_time py-3"> post author - {{ post.first_published_at}}</a>

                            <div class="fh5co_consectetur">{{ post.short_title }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                 <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Category</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
{#                    <a href="#" class="fh5co_tagg">Business</a>#}

                    {% if categories %}
                        <form action="/action_page.php" method="get">

                         {% for category in categories %}
                            <input type="checkbox" name="vehicle1" value="Bike">
                             <label for="vehicle1">{{ category.name }}</label><br>
                        {% endfor %}
                        </form>
                        {% else %}
                        <p>No Category</p>
                    {% endif %}

                </div>

                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>

                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>

                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/download (1).jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/allef-vinicius-108153.jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Enim ad minim veniam nostrud xercitation ullamco.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/download (2).jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="images/seth-doyle-133175.jpg" alt="img"
                                                              class="fh5co_most_trading"/></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
            </div>
        </div>


        {% if posts.paginator.num_pages > 1 %}
                <div class="row mx-0">
                    <div class="col-12 text-center pb-4 pt-4">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                        {% endif %}

                    {% for page_num in posts.paginator.page_range %}
                        <a href="?page={{ page_num }}" class="btn_pagging">{{ page_num }}</a>
                        {% endfor %}
                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
                        {% endif %}
                     </div>
                </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
