{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

{#    <div style="margin-top: 0px">#}
{#     <!-- Carousel Image Items Area-->#}
{#<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">#}
{#    <ol class="carousel-indicators">#}
{#        {% for loop_cycle in self.carousel_images.all %}#}
{#        <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 1 %}active {% endif %}"></li>#}
{#        {% endfor %}#}
{#    </ol>#}
{#    <div class="carousel-inner">#}
{##}
{#        {% for loop_cycle in self.carousel_images.all %}#}
{#         {% image loop_cycle.carousel_image fill-1320x585 as img %}#}
{##}
{#        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">#}
{#                        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">#}
{#                         <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; height: 500px ; background-position: center center ; color: #fff !important">#}
{#                            <h1 class="display-4">{{ loop_cycle.title }}</h1>#}
{#                            <p class="lead">{{ loop_cycle.short_description }}</p>#}
{##}
{##}
{##}
{#                            <div style="margin-left: 100px">#}
{#                                {% if loop_cycle.slider_cta %}#}
{#                                    <a class="btn btn-primary btn-lg" href="{{ loop_cycle.slider_cta.url }}" role="button">See more</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#       {% endfor %}#}
{##}
{##}
{#    </div>#}

{#    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">#}
{#        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Previous</span>#}
{#    </a>#}
{#    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">#}
{#        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Next</span>#}
{#    </a>#}
{#</div>#}

<!-- End Carousel Image Items Area-->

{#    </div>#}

{#    <div class="container">#}
{##}
{#        <h2> Latest recent_news_blogs </h2>#}
{#        {% for post in recent_news_blogs %}#}
{#            <div class="row mt-5 mb-5">#}
{#                <div class="col-sm-3">#}
{#                    {% image post.banner_image fill-250x250 as banner_image %}#}
{#                    <a href="{{ post.url }}">#}
{#                        <img src="{{ banner_image.url }}" alt="{{ blog_img.alt }}">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-sm-9">#}
{#                    <a href="{{ post.url }}">#}
{#                        <h2>{{ post.title }}</h2>#}
                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
{#                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}


{#    <h2> Latest Events </h2>#}
{#        {% for post in events %}#}
{#            <div class="row mt-5 mb-5">#}
{#                <div class="col-sm-3">#}
{#                    {% image post.banner_image fill-250x250 as banner_image %}#}
{#                    <a href="{{ post.url }}">#}
{#                        <img src="{{ banner_image.url }}" alt="{{ blog_img.alt }}">#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-sm-9">#}
{#                    <a href="{{ post.url }}">#}
{#                        <h2>{{ post.custom_title }}</h2>#}
                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
{#                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}

{#    <div class="container">#}
{#        {% for post in latest_news %}#}
{#            {% cache 604800 blog_post_preview post.id %}#}
{#                <div class="row mt-5 mb-5">#}
{#                    <div class="col-sm-3">#}
{#                        {% image post.banner_image fill-250x250 as blog_img %}#}
{#                        <a href="{{ post.url }}">#}
{#                            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}" style='width: 100%;'>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="col-sm-9">#}
{#                        <a href="{{ post.url }}">#}
{#                            <h2>{{ post.custom_title }}</h2>#}
{#                            {% if post.specific.subtitle %}#}
{#                                <p>{{ post.specific.subtitle }}</p>#}
{#                            {% endif %}#}
{##}
                            {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
{#                            <a href="{{ post.url }}" class="btn btn-primary mt-4">Read More</a>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endcache %}#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-12">

            <div class="row">

                {% for loop_cycle in self.carousel_images.all %}
                    {% image loop_cycle.carousel_image fill-900x400 as img %}
{#                    <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">#}
{#                        <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">#}

                    <div class="col-md-4 col-4 paddding animate-box" data-animate-effect="fadeIn">
                            <div class="fh5co_suceefh5co_height_2"><img src="{{ img.url }}" alt="{{ img.alt }}"/>
                                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                                <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                    <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2017 </a></div>
                                    <div class=""><a href="#" class="fh5co_good_font_2"> After all is said and done, <br>more is said than done </a></div>
                                </div>
                            </div>
                        </div>

{#                    </div>#}

                {% endfor %}
            
            </div>
        </div>
    </div>
</div>


{#<div class="container-fluid pt-3">#}
{#    <div class="container animate-box" data-animate-effect="fadeIn">#}
{#        <div>#}
{#            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>#}
{#        </div>#}
{#        <div class="owl-carousel owl-theme js" id="slider1">#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_latest_trading_img_position_relative">#}
{#                    <div class="fh5co_latest_trading_img"><img src="https://image2.slideserve.com/3756607/test-file-l.jpg" alt=""#}
{#                                                           class="fh5co_img_special_relative"/></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute"></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute_1">#}
{#                        <a href="#" class="text-white"> Here's a new way to take better photos for instagram </a>#}
{#                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_latest_trading_img_position_relative">#}
{#                    <div class="fh5co_latest_trading_img"><img src="https://image2.slideserve.com/3756607/test-file-l.jpg" alt="" class="fh5co_img_special_relative"/></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute"></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute_1">#}
{#                        <a href="#" class="text-white"> Here's a new way to take better photos for instagram </a>#}
{#                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_latest_trading_img_position_relative">#}
{#                    <div class="fh5co_latest_trading_img"><img src="images/ryan-moreno-98837.jpg" alt="" class="fh5co_img_special_relative"/></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute"></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute_1">#}
{#                        <a href="#" class="text-white"> Here's a new way to take better photos for instagram </a>#}
{#                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_latest_trading_img_position_relative">#}
{#                    <div class="fh5co_latest_trading_img"><img src="images/science-578x362.jpg" alt="" class="fh5co_img_special_relative"/></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute"></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute_1">#}
{#                        <a href="#" class="text-white"> Here's a new way to take better photos for instagram </a>#}
{#                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_latest_trading_img_position_relative">#}
{#                    <div class="fh5co_latest_trading_img"><img src="images/nick-karvounis-78711.jpg" alt="" class="fh5co_img_special_relative"/></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute"></div>#}
{#                    <div class="fh5co_latest_trading_img_position_absolute_1">#}
{#                        <a href="#" class="text-white"> Here's a new way to take better photos for instagram </a>#}
{#                        <div class="fh5co_latest_trading_date_and_name_color"> Walter Johson - March 7,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div class="container-fluid pb-4 pt-5">
{#    <div class="container animate-box">#}
{#        <div>#}
{#            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>#}
{#        </div>#}
{#        <div class="owl-carousel owl-theme" id="slider2">#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_hover_news_img">#}
{#                    <div class="fh5co_news_img"><img src="images/39-324x235.jpg" alt=""/></div>#}
{#                    <div>#}
{#                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>#}
{#                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_hover_news_img">#}
{#                    <div class="fh5co_news_img"><img src="images/joe-gardner-75333.jpg" alt=""/></div>#}
{#                    <div>#}
{#                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>#}
{#                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_hover_news_img">#}
{#                    <div class="fh5co_news_img"><img src="images/ryan-moreno-98837.jpg" alt=""/></div>#}
{#                    <div>#}
{#                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>#}
{#                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item px-2">#}
{#                <div class="fh5co_hover_news_img">#}
{#                    <div class="fh5co_news_img"><img src="images/seth-doyle-133175.jpg" alt=""/></div>#}
{#                    <div>#}
{#                        <a href="#" class="d-block fh5co_small_post_heading"><span class="">The top 10 best computer speakers in the market</span></a>#}
{#                        <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>


    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Latest News</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider3">
    {#            Get latest news#}

                {%  for post in recent_news_blogs %}

                     <div class="item px-2">
                     {% image post.banner_image fill-250x250 as post_img %}
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="{{ post_img.url }}" alt=""/></div>
                        <div>
                            <a href="{{ post.url }}" class="d-block fh5co_small_post_heading"><span class="">{{ post.title }}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.first_published_at }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Latest Events</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider4">

                {%  for post in recent_events %}
                    <div class="item px-2">
                        {% image post.banner_image fill-250x250 as post_img %}
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="{{ post_img.url }}" alt=""/></div>
                        <div>
                            <a href="{{ post.url }}" class="d-block fh5co_small_post_heading"><span class="">{{ post.title }}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.first_published_at }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Latest Scholarships</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider5">

                {%  for post in recent_scholarships %}
                    <div class="item px-2">
                        {% image post.banner_image fill-250x250 as post_img %}
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="{{ post_img.url }}" alt=""/></div>
                        <div>
                            <a href="{{ post.url }}" class="d-block fh5co_small_post_heading"><span class="">{{ post.title }}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.first_published_at }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


{#<div class="container-fluid fh5co_video_news_bg pb-4">#}
{#    <div class="container animate-box" data-animate-effect="fadeIn">#}
{#         <div>#}
{#            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">New Video</div>#}
{#        </div>#}
{#        <div>#}
{#            <div class="owl-carousel owl-theme" id="slider6">#}
{#                <div class="item px-2">#}
{#                    <div class="fh5co_hover_news_img">#}
{#                        <div class="fh5co_hover_news_img_video_tag_position_relative">#}
{#                            <div class="fh5co_news_img">#}
{#                                <iframe id="video" width="100%" height="200"#}
{#                                        src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0"#}
{#                                        frameborder="0" allowfullscreen></iframe>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide">#}
{#                                <img src="images/ariel-lustre-208615.jpg" alt=""/>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide" id="play-video">#}
{#                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">#}
{#                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">#}
{#                                        <span><i class="fa fa-play"></i></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="pt-2">#}
{#                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">#}
{#                            <span class="">The top 10 funniest videos on YouTube </span></a>#}
{#                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item px-2">#}
{#                    <div class="fh5co_hover_news_img">#}
{#                        <div class="fh5co_hover_news_img_video_tag_position_relative">#}
{#                            <div class="fh5co_news_img">#}
{#                                <iframe id="video_2" width="100%" height="200"#}
{#                                        src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0"#}
{#                                        frameborder="0" allowfullscreen></iframe>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_2">#}
{#                                <img src="images/39-324x235.jpg" alt=""/></div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_2" id="play-video_2">#}
{#                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">#}
{#                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">#}
{#                                        <span><i class="fa fa-play"></i></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="pt-2">#}
{#                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">#}
{#                            <span class="">The top 10 embedded YouTube videos this month</span></a>#}
{#                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item px-2">#}
{#                    <div class="fh5co_hover_news_img">#}
{#                        <div class="fh5co_hover_news_img_video_tag_position_relative">#}
{#                            <div class="fh5co_news_img">#}
{#                                <iframe id="video_3" width="100%" height="200"#}
{#                                        src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0"#}
{#                                        frameborder="0" allowfullscreen></iframe>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_3">#}
{#                                <img src="images/joe-gardner-75333.jpg" alt=""/></div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_3" id="play-video_3">#}
{#                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">#}
{#                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">#}
{#                                        <span><i class="fa fa-play"></i></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="pt-2">#}
{#                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">#}
{#                            <span class="">The top 10 best computer speakers in the market</span></a>#}
{#                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item px-2">#}
{#                    <div class="fh5co_hover_news_img">#}
{#                        <div class="fh5co_hover_news_img_video_tag_position_relative">#}
{#                            <div class="fh5co_news_img">#}
{#                                <iframe id="video_4" width="100%" height="200"#}
{#                                        src="https://www.youtube.com/embed/aM9g4r9QUsM?rel=0&amp;showinfo=0"#}
{#                                        frameborder="0" allowfullscreen></iframe>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_4">#}
{#                                <img src="images/vil-son-35490.jpg" alt=""/>#}
{#                            </div>#}
{#                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_4" id="play-video_4">#}
{#                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">#}
{#                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">#}
{#                                        <span><i class="fa fa-play"></i></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="pt-2">#}
{#                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">#}
{#                                <span class="">The top 10 best computer speakers in the market</span></a>#}
{#                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/nathan-mcbride-229637.jpg" alt=""/></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="#" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                        nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                        April 18,2016 </a>
                        <div class="fh5co_consectetur"> Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/ryan-moreno-98837.jpg" alt=""/></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="#" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                        nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                        April 18,2016 </a>
                        <div class="fh5co_consectetur"> Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore.
                        </div>
                        <ul class="fh5co_gaming_topikk pt-3">
                            <li> Why 2017 Might Just Be the Worst Year Ever for Gaming</li>
                            <li> Ghost Racer Wants to Be the Most Ambitious Car Game</li>
                            <li> New Nintendo Wii Console Goes on Sale in Strategy Reboot</li>
                            <li> You and Your Kids can Enjoy this News Gaming Console</li>
                        </ul>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img">
                                <img src="images/photo-1449157291145-7efd050a4d0e-578x362.jpg" alt=""/>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="#" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                        nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                        April 18,2016 </a>
                        <div class="fh5co_consectetur"> Quis nostrud xercitation ullamco laboris nisi aliquip ex ea commodo
                            consequat.
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/office-768x512.jpg" alt=""/></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="#" class="fh5co_magna py-2"> Magna aliqua ut enim ad minim veniam quis
                        nostrud quis xercitation ullamco. </a> <a href="#" class="fh5co_mini_time py-3"> Thomson Smith -
                        April 18,2016 </a>
                        <div class="fh5co_consectetur"> Amet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/download (1).jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/allef-vinicius-108153.jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Enim ad minim veniam nostrud xercitation ullamco.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="images/download (2).jpg" alt="img" class="fh5co_most_trading"/>
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="images/seth-doyle-133175.jpg" alt="img"
                                                              class="fh5co_most_trading"/></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 animate-box" data-animate-effect="fadeInUp">
            <div class="col-12 text-center pb-4 pt-4">
                <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                <a href="#" class="btn_pagging">1</a>
                <a href="#" class="btn_pagging">2</a>
                <a href="#" class="btn_pagging">3</a>
                <a href="#" class="btn_pagging">...</a>
                <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
             </div>
        </div>
    </div>
</div>


    {# blog content#}
    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}

    </div>

{#    <a href="/subscribe"> Subscribe </a>#}

{% endblock %}