{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="container">
        <section class="jumbotron text-center bg-white">
            <div class="container">
                <h1>User Dashboard</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator,
                    etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            </div>


            <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">{{ request.user.first_name }} {{ request.user.last_name }}</span><span
                            class="text-black-50">{{ request.user.email }}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                                                                                 class="form-control"
                                                                                                 placeholder="first name"
                                                                                                 value="{{ request.user.first_name }}"></div>
                            <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                                                                                class="form-control"
                                                                                                value="{{ request.user.last_name }}"
                                                                                                placeholder="surname">
                            </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col-md-12"><label class="labels">Email </label><input type="text"
                                                                                                      class="form-control"
                                                                                                      placeholder="enter address line 1"
                                                                                                      value="{{ request.user.email }}"></div>
                            <div class="col-md-12"><label class="labels">Job</label><input type="text"
                                                                                                      class="form-control"
                                                                                                      placeholder="enter address line 2"
                                                                                                      value="{{ request.user.job }}"></div>
                            <div class="col-md-12"><label class="labels">City</label><input type="text"
                                                                                             class="form-control"
                                                                                             placeholder="enter address line 2"
                                                                                             value="{{ request.user.city }}"></div>
                            <div class="col-md-12"><label class="labels">Area</label><input type="text"
                                                                                            class="form-control"
                                                                                            placeholder="enter address line 2"
                                                                                            value=""></div>
                            <div class="col-md-12"><label class="labels">Work Place</label><input type="text"
                                                                                                class="form-control"
                                                                                                placeholder="enter email id"
                                                                                                value="{{ request.user.work_place }}"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                                                                              class="form-control"
                                                                                              placeholder="country"
                                                                                              value=""></div>
                            <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                                                                                   class="form-control"
                                                                                                   value=""
                                                                                                   placeholder="state">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button">Save Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>


    <div class="container-fluid pb-4 pt-5">
            <div class="container animate-box">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Like Events</div>
                </div>
                <div class="owl-carousel owl-theme" id="slider2">
                    {% for post in like_events %}
                        <div class="item px-2">
                            {% image post.banner_image fill-250x250 as post_img %}
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="{{ post_img.url }}" alt=""/></div>
                                <div>
                                    <a href="{{ post.url }}" class="d-block fh5co_small_post_heading"><span
                                            class="">{{ post.title }}</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.first_published_at }}</div>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">9 mins</small>
                                        <div id="favourite-section"><a href="#"
                                                                       class="btn btn-outline-primary">Remove</a></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    <div>

                    </div>
                </div>
                <div class="col-12 col-md-12 spdp_right">
                    <a href="{% url 'favourite_events' %}" class="fh5co_mini_time py-3"> See All </a>
                </div>
            </div>
        </div>

        <div class="container-fluid pb-4 pt-5">
            <div class="container animate-box">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Like Scholarships </div>
                </div>
                <div class="owl-carousel owl-theme" id="slider3">
                    {% for post in like_scholarships %}
                        <div class="item px-2">
                            {% image post.banner_image fill-250x250 as post_img %}
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="{{ post_img.url }}" alt=""/></div>
                                <div>
                                    <a href="{{ post.url }}" class="d-block fh5co_small_post_heading"><span
                                            class="">{{ post.title }}</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.first_published_at }}</div>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">9 mins</small>
                                        <div id="favourite-section"><a href="#"
                                                                       class="btn btn-outline-primary">Remove</a></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    <div>

                    </div>
                </div>
                <div class="col-12 col-md-12 spdp_right">
                    <a href="{% url 'favourite_scholarships' %}" class="fh5co_mini_time py-3"> See All </a>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

