{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}

    <div class="container">
    <br>
     <h1> {{ self.custom_title }}</h1>
    <br>

    {% image self.banner_image width-1500 as img %}

        {# Display Banner #}
        <div class="jumbotron"
             style="background-image: url('{{ img.url }}'); background-size: cover; height: 500px ; background-position: center center ; color: #fff !important"></div>

{#    <h1> {{ self.custom_title }}</h1>#}


        <div class="container mt-5 mb-5">
            <div class="text-center">

            <div class="card-footer text-muted">
            <div class="row">
                <div class="col-lg-6 text-left">
                 Category:
                     {% if self.categories.count %}
                    <div style="padding: 0 20px 20px">
                        {% for cat in self.categories.all %}

                            <a href="?category={{ cat.slug }}">
                                {{ cat.name }}
                            </a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

{#                    Category: {{ self.category }}#}
                </div> <!--col-lg-6 text-left-->

                <div class="col-lg-6 text-right">
                    <i class="fas fa-book-open"></i> Published: {{ self.first_published_at}}
                </div> <!--col-lg-6 text-left-->

            </div> <!--row-->
        </div>

{#                {% if self.categories.count %}#}
{#                    <div style="padding: 0 20px 20px">#}
{#                        {% for cat in self.categories.all %}#}
{#                            <a href="?category={{ cat.slug }}">#}
{#                                {{ cat.name }}#}
{#                            </a>{% if not forloop.last %}, {% endif %}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}

                <div class="d-flex justify-content-center">
                    {% for iter in self.blog_authors.all %}
                        {% image iter.author.image fill-50x50 as img %}
                        <div>
                            <div>
                                <img src="{{ img.url }}" class="rounded-circle" alt="{{ iter.author.name }}">
                            </div>
                            {% if iter.author.website %}
                                <a href="{{ iter.author.website }}">
                                    {{ iter.author.name }}
                                </a>
                            {% else %}
                                {{ iter.author.name }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

         <div class="row">
    {% if request.user.is_authenticated %}

            {% if is_like %}
                <a href="{% url 'like_blog_add' self.id %}" class=""><button class="custom-button custom-button5">Unlike</button></a>

            {% else %}

                <a href="{% url 'like_blog_add' self.id %}" class=""><button class="custom-button custom-button1">Like</button></a>
            {% endif %}

        {% else %}
            <a href="% url 'account_login' %}" class=""> <button class="custom-button custom-button1">Like</button></a>

        {% endif %}

    </div>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {% for block in self.content %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
